<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/javascripts/bootstrap.js"></script>
</head>

<div class="container">
        <h1> CRUD OPERATION </h1>
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/search">Find</a></li>
        <li><a href="/update">Update</a></li>
        <li><a href="/delete">Delete</a></li>
    </ul> 
    <form method="post" action="/update"> 
        <div class="form-group">
            <label for="id">id:</label>
            <input type="text" class="form-control" id="noteid"  name="noteid">
        </div>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title"  name="title">
        </div>
        <div class="form-group">
            <label for="content">Content:</label>
            <input type="text" class="form-control" id="content" name="content">
        </div>
        <button type="submit" class="btn btn-info">Update</button>
        <div class="message"><%= message %><br></div>
        </form>
       </div>
    
</html>
